extends newBase

block contenido
    .container
        .row
            .col
                 h3 Bienvenido, #{usuario} !
        .row
            .col
                h2 Lista de los estudiantes registrados
                img(src="./fotos/abrehueco.jpg", alt="", srcset="")
        .row
            .col
                 table.table.table-bordered.table-hover.table-responsive
                    thead.thead-dark
                        tr
                            th #
                            th Nombre 
                            th descripciom 
                            th cantidad 
                            th precio
                            th imagen
                        tr 
                            -var number = 0;
                            each lista in modelo
                                form(action='/actualizar', method='POST')
                                    td #{number+1}  
                                    td #{lista.nombre}
                                        input#nombre(type='text' name='nombre')
                                    td #{lista.descripcion}
                                        input#descripcion(type='text' name='descripcion')
                                    td #{lista.cantidad}
                                        input#cantidad(type='number' name='cantidad')
                                    td #{lista.precio}
                                        input#precio(type='number' name='precio')
                                    td #{lista.img}
                                        input#img(type="text" name="img")
                        tr 
                            form(method='POST', action='/insertar')
                                td Nuevo
                                td
                                    input#nombre(type='text' name='nombre')
                                td
                                    input#descripcion(type='text' name='descripcion') 
                                td
                                    input#cantidad(type='number' name='cantidad')
                                td
                                    input#precio(type='number' name='precio')   
                                td
                                    textarea#img(cols="30", rows="10" name="imagen" type="text")
                                    input.btn.btn-primary(type='submit' value='Insertar') 